<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Feedback - ACME</title>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
</head>

<body id="page-top">
    <div id="wrapper">
       <%if session[:logged_in]  %>
        <header class="sticky"><%= erb :admin_header %></header>
       <% end %>
       

        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background-color: #343a40;">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar" style="font-size: 30px;">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin" style="font-size: 20px;"><i class="fas fa-tachometer-alt" style="font-size: 20px;"></i><span style="font-size: 16px;">Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin_users" style="font-size: 16px;"><i class="fa fa-user" style="font-size: 20px;"></i>User Management</a>
                       <a class="nav-link active" href="/admin_bookmarks" style="font-size: 16px;"><i class="fa fa-bookmark" style="font-size: 16px;"></i>Bookmark Management</a>
                        <a
                            class="nav-link active" href="/admin_feedback" style="font-size: 16px;"><i class="fa fa-comment" style="font-size: 20px;"></i>Feedback</a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h3 class="text-dark mb-0">Feedback Review</h3>
                        
                    </div>
                </nav>
<!--                flash notices -->
                <% flash.keys.each do |type| %>

                  <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
                    <strong><%= flash[type] %></strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
                  </div>
                <% end %>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>New Feedback</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span><%= Feedback.getNumber(0) %></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comment fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Broken link feedback</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span><%= Feedback.getType("Broken links") %></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-unlink fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Page not Found Feedback</span></div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span><%= Feedback.getType("Page not found") %></span></div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-search fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-secondary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-secondary font-weight-bold text-xs mb-1"><span>Other Feedback</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span><%= Feedback.getType("Other") %></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-exclamation fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-6">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Feedback Status</h6>
                                   
                                </div>
                                <div class="card-body">
                                    <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;doughnut&quot;,
                                        &quot;data&quot;:{&quot;labels&quot;:[&quot;Broken Links&quot;,&quot;Inccorrect Data&quot;,&quot;Page Not Found&quot;,&quot;Other&quot;],
                                            &quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#1cc88a&quot;,
                                                &quot;#f6c23e&quot;,&quot;#e74a3b&quot;,&quot;#3e8ce4&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,
                                                &quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;<%= Feedback.getType("Broken links") %>&quot;,&quot;<%= Feedback.getType("Incorrect data") %>&quot;,&quot;<%= Feedback.getType("Page not found") %>&quot;,&quot;<%= Feedback.getType("Other") %>&quot;]}]},
                                                &quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                                    <div
                                        class="text-center small mt-4"><span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;Broken Links</span>
                                       <span class="mr-2"><i class="fas fa-circle text-warning"></i>&nbsp;Incorrect Data</span>
                                       <span class="mr-2"><i class="fas fa-circle text-danger"></i>&nbsp;Page not Found</span>
                                       <span class="mr-2"><i class="fas fa-circle text-primary"></i>&nbsp;Other</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">Resolved Feedback</h6>
                                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                        role="menu">
                                        <p class="text-center dropdown-header">actions:</p><a class="dropdown-item" role="presentation" href="/feedback">&nbsp;Add Feedback</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{
                                    &quot;labels&quot;:[&quot;resolved&quot;,&quot;Unresolved&quot;],&quot;datasets&quot;
                                    :[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#1cc88a&quot;,&quot;#858796&quot;],
                                        &quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;<%= Feedback.getNumber(1) %>&quot;,&quot;<%= Feedback.getNumber(0) %>&quot;]}]},
                                        &quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                                <div
                                    class="text-center small mt-4"><span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;Resolved</span><span class="mr-2"><i class="fas fa-circle text-secondary"></i>&nbsp;Unresolved</span></div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
                        <div class="col-lg-13 col-xl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Bookmarks</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">Actions:</p><a class="dropdown-item" role="presentation" href="/new_bookmark">&nbsp;Add bookmark</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                   <thead>
                                     <tr>
                                         <th>ID No.</th>
                                         <th>Feedback Topic</th>
                                         <th>Feedback</th>
                                         
                                         <th>Date Submitted</th>                                        
                                         <th>Submitted by</th>
                                         <th>Resolved Status</th>                                       
                                         <th>Resolve</th>
                                     </tr>
                                   </thead>

                                   <tbody>

                                         <% @admin_feedback_list.each do |feedback| %>
                                       <tr>

                                         <td><%= feedback[0] %></td>
                                         <td><%= feedback[3] %></td>
                                         <td><%= feedback[4]  %></td>
                                         
                                         <td><%= feedback[2]  %></td>
                                         <td><%= ($db.execute "SELECT email FROM users WHERE user_id = ?",feedback[1])[0][0]  %></td>
                                         <td>
                                            <% case feedback[5]  when 0 %>
                                                <img src='images/red.png' class="icon" alt="broken link" />
                                            
                                            <% when 1 %>
                                                <img src='images/green.png' class="icon" alt="working link"/>
                                            <% else %>
                                            <% end %>
                                          </td> 
                                        <td><form method="post" action="/admin_resolve_feedback">                                            
                                             <input type="hidden" name="feedbackid" value= "<%= feedback[0] %>" >                                              
                                               <input class="btn btn-info btn-sm" type="submit" value="Resolve">
                                            </form></td>

                                       </tr>
                                     <% end %>
                                     </tbody>
                                 </table>
                        </div>
                    </div>
                    
        </div>
                    
                
            
        </div>
    </div>
    <footer>
        
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="js/script.min.js"></script>
</body>

</html>