<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>User Management - ACME</title>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
</head>

<body id="page-top">
    <div id="wrapper">
       <%if session[:logged_in]  %>
           <header class="sticky"><%= erb :admin_header %></header>
       <% end %>
       

        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background-color: #343a40;">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar" style="font-size: 30px;">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin" style="font-size: 20px;"><i class="fas fa-tachometer-alt" style="font-size: 20px;"></i><span style="font-size: 16px;">Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/admin_users" style="font-size: 16px;"><i class="fa fa-user" style="font-size: 20px;"></i>User Management</a>
                       <a class="nav-link active" href="/admin_bookmarks" style="font-size: 16px;"><i class="fa fa-bookmark" style="font-size: 16px;"></i>Bookmark Management</a>
                       <a class="nav-link active" href="/admin_feedback" style="font-size: 16px;"><i class="fa fa-comment" style="font-size: 20px;"></i>Feedback</a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h3 class="text-dark mb-0">User Management</h3>
                    </div>
                </nav>
<!--                flash notices -->
                <% flash.keys.each do |type| %>
                    <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
                      <strong><%= flash[type] %></strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                <% end %>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                                                <span>Total Users</span>
                                            </div>
                                            <div class="text-dark font-weight-bold h5 mb-0">
                                                <span><%= User.getNumber(1) + User.getNumber(0) %></span>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                                                <span>Active Users</span>
                                            </div>
                                            <div class="text-dark font-weight-bold h5 mb-0">
                                                <span><%= User.getNumber(1) %></span>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-check fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1">
                                                <span>Suspended Users</span>
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3">
                                                        <span><%= User.getNumber(0) %></span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-bookmark fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1">
                                                <span>New User Requests</span>
                                            </div>
                                            <div class="text-dark font-weight-bold h5 mb-0">
                                                <span><%= User.getNew() %></span>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                       
 <div class="row">
                        <div class="col-lg-13 col-xl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">New User Requests</h6>
                                    <div class="dropdown no-arrow">
                                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">
                                            <i class="fas fa-ellipsis-v text-gray-400"></i>
                                        </button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">Actions:</p>
                                            <a class="dropdown-item" role="presentation" href="/signup">&nbsp;Add User</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                   <thead>
                                       <tr>
                                           <th>User ID</th>
                                           <th>User Name</th>
                                           <th>First Name</th>
                                           <th>Last Name</th>
                                           <th>Email</th>
                                           <th>Status</th>
                                           <th>Edit user</th>
                                       </tr>
                                   </thead>

                                   <tbody>

                                       <% @new_user_list.each do |new_user| %>
                                       <tr>
                                           <td><%= new_user[0] %></td>
                                           <td><%= new_user[1] %></td>
                                           <td><%= new_user[2] %></td>
                                           <td><%= new_user[3] %></td>
                                           <td><%= new_user[5] %></td>
                                           <td>
                                               <% case new_user[6] when 0 %>
                                                   <img src='images/red.png' class="icon" alt="suspended" />
                                               <% when 1 %>
                                                   <img src='images/green.png' class="icon" alt="active"/>
                                               <% else %>
                                               <% end %>
                                           </td> 
                                           <td>
                                               <form method="post" action="/admin_add_user">
                                                   <input type="hidden" name="userid" value= "<%= new_user[0] %>" >                                              
                                                   <input class="btn btn-info btn-sm" type="submit" value="Approve">
                                               </form>
                                           </td>
                                       </tr>
                                       <% end %>
                                   </tbody>
                                </table>
                        </div>
                    </div>
                    
        </div>
    

                    <div class="row">
                        <div class="col-lg-13 col-xl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">All User Accounts</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                            role="menu">
                                            <p class="text-center dropdown-header">Actions:</p><a class="dropdown-item" role="presentation" href="/signup">&nbsp;Add User</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table">
                                   <thead>
                                     <tr>
                                         <th>User ID</th>
                                         <th>User Name</th>
                                         <th>First Name</th>
                                         <th>Last Name</th>
                                         <th>Email</th>
                                         <th>Status</th>
                                         <th>Edit user</th>
                                     </tr>
                                   </thead>

                                   <tbody>

                                         <% @user_list.each do |user| %>
                                         <tr>

                                             <td><%= user[0] %></td>
                                             <td><%= user[1] %></td>
                                             <td><%= user[2] %></td>
                                             <td><%= user[3] %></td>
                                             <td><%= user[5] %></td>
                                             <td>
                                                <% case user[6] when 0 %>
                                                    <img src='images/red.png' class="icon" alt="suspended" />
                                                <% when 1 %>
                                                    <img src='images/green.png' class="icon" alt="active"/>
                                                <% else %>
                                                <% end %>
                                              </td> 
                                             <td><a class="btn btn-info btn-sm" href="/admin_edit_user/<%= user[0] %>">Edit User</a></td>

                                         </tr>
                                         <% end %>
                                     </tbody>
                                 </table>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="js/script.min.js"></script>
</body>

</html>