<table class="table">
  <thead>
    <tr>
        <th>No.</th>
        <th>Bookmark Name</th>
        <th>Link</th>
        
        <th>Rating</th>
        <th>Last Updated</th>
        <th>Status</th>
        <th>More Info</th>
    </tr>
  </thead>

  <tbody>
 
        <% @bookmark_list.each do |bookmark| %>
      <tr>

        <td><%= @bookmark_list.find_index(bookmark) + 1 %></td>
        <td><%= bookmark[1] %></td>
        <td><a class="btn btn-info btn-sm" href="<%= bookmark[2] %>" target="_blank"><%= Bookmark.getHost(bookmark[2]) %></a></td>
        <td id="ratingBox">    
        
        <form method='post' id="ratingForm">
        <table padding-top="0" margin-top="0" font-size="1s20%">
        <tr>
        <span style="font-size: 120%;">
        <% for i in 1..(bookmark[7].round(1))%><th id="ratingElement"><span style="color: #fcad03; ">★</span></th><% end %>
        <% for i in 1..(5-bookmark[7].round(1))%> <th id="ratingElement">☆</th> <% end %>
        </span>

        </tr>
        <tr>
        <td id="ratingElement"><input type='radio' id='rating1' name='rating' value='1'></td>
        <td id="ratingElement"><input type='radio' id='rating2' name='rating' value='2'></td>
        <td id="ratingElement"><input type='radio' id='rating3' name='rating' value='3'></td>
        <td id="ratingElement"><input type='radio' id='rating4' name='rating' value='4'></td>
        <td id="ratingElement"><input type='radio' id='rating5' name='rating' value='5'></td>
        </tr>
        </table>
         (<%= bookmark[8] %>) 
        </form>
        </td>
        
        <td><%= bookmark[5] %></td>
         
        <td>
           <% case bookmark[6] when 0 %>
               <img src='images/red.png' class="icon" alt="broken link" />
           <% when 1 %>
               <img src='images/wrench.png' class="icon" alt="link under review"/>
           <% when 2 %>
               <img src='images/green.png' class="icon" alt="working link"/>
           <% else %>
           <% end %>
           <% case bookmark[6] when 2 %>
               <a style="color:grey; text-decoration:underline; font-size:13px" href='/report/<%= bookmark[0] %>'>Report</a>
           <% end %>
         </td>
         
         <td>
             <a tabindex="0" class="btn btn-sm btn-info" role="button"  data-html="true" data-toggle="popover" data-trigger="focus" title="<%= bookmark[1] %>"
               data-content="<div><b>Boomark ID: <%= bookmark[0] %></b></div>
                             <div><b>Description: </b><%= bookmark[4] %> </div>
                             <div><b>Creator: </b><%= ($db.execute "SELECT email FROM users WHERE user_id = ?",bookmark[4])[0][0] %> </div>
                             
                             ">More Info</a>
             
         </td>
      </tr>
    <% end %>
    </tbody>
</table>
