<table class="table">
  <thead>
    <tr>
        <th>No.</th>
        <th>Bookmark Name</th>
        <th>Link</th>
        
        <th>Rating</th>
        <th>Last Updated</th>
        <th>Status</th>
        <th>More Info</th>
    </tr>
  </thead>

  <tbody>
 
        <% @bookmark_list.each do |bookmark| %>
      <tr>

        <td><%= @bookmark_list.find_index(bookmark) + 1 %></td>
        <td><%= bookmark[1] %></td>
        <td><a class="btn btn-info btn-sm" href="<%= bookmark[2] %>" target="_blank"><%= Bookmark.getHost(bookmark[2]) %></a></td>
        <td>
            <span style="font-size: 120%;"><span style="color: #fcad03; ">
            <% for i in 1..(bookmark[7].round(1))%> ★ <% end %></span>
            <% for i in 1..(5-bookmark[7].round(1))%> ☆ <% end %></span>
            (<%= bookmark[8] %>)
        </td>
        <td><%= bookmark[5] %></td>
         
        <td>
           <% case bookmark[6] when 0 %>
               <img src='images/red.png' class="icon" alt="broken link" />
           <% when 1 %>
               <img src='images/wrench.png' class="icon" alt="link under review"/>
           <% when 2 %>
               <img src='images/green.png' class="icon" alt="working link"/>
           <% else %>
           <% end %>
         </td>
         
         <td>
             <a tabindex="0" class="btn btn-sm btn-info" role="button"  data-html="true" data-toggle="popover" data-trigger="focus" title="<%= bookmark[1] %>"
               data-content="<div><b>Boomark ID: <%= bookmark[0] %></b></div>
                             <div><b>Description: </b><%= bookmark[4] %> </div>
                             <div><b>Creator: </b><%= ($db.execute "SELECT email FROM users WHERE user_id = ?",bookmark[4])[0][0] %> </div>
                             ">More Info</a>
             <% case bookmark[6] when 2 %>
                 <div style="margin-left:20px"><a style="color:grey; text-decoration:underline; font-size:13px" href='/report/<%= bookmark[0] %>'>Report</a></div>
             <% end %>
         </td>
      </tr>
    <% end %>
    </tbody>
</table>
