<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Feedback - ACME</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/home_footer.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="css/feedback.css">
    </head>
    
    <body>
        <!--navigation bar-->
    <% if session[:logged_in] && session[:admin] %>
        <header class="sticky"><%= erb :admin_header %></header>
    <% elsif session[:logged_in] && !session[:admin] %>
        <header class="sticky"><%= erb :user_header %></header>
    <% else %>
        <header class="sticky"><%= erb :home_header %></header>
    <% end %>

    <% flash.keys.each do |type| %>

      <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
        <strong><%= flash[type] %></strong> 
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
        
        <!--BODY-->
        <div class="login-dark" id="form" style="height: 790px;">
            <form method="post" action="/sendFeedback" style="margin: 0px;height: 366px;width: 493px;margin-top: -40px;">
                <h2 class="sr-only">Feedback Form</h2>
                <div class="form-group"><label class="d-lg-flex align-self-center justify-content-lg-center">Feedback Form</label></div>
                <label class="text-secondary">Select your issue below:</label>
                <div class="form-group" >
                    <select class="custom-select" required="" name="feedback_topic">
                        <optgroup label="Select your issue">
                            <option value="Broken links" selected="">Broken links</option>
                            <option value="Page not found">Page not found</option>
                            <option value="Incorrect data">Incorrect data</option>
                            <option value="Other">Other</option>
                        </optgroup>
                    </select>
                </div>
                
                <div class="form-group">
                    <textarea class="form-control" rows="4" 
                            placeholder="Enter your feedback, please be as descriptive as possible..." name="feedback" required="" maxlength="100"></textarea>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-secondary btn-block" type="reset" style="width: 176px;">Reset Form</button>
                    <button class="btn btn-primary btn-block" type="submit" style="width: 176px;margin: 235px;margin-top: -38px;margin-right: 130px;height: 38px;padding: 0px;">Submit</button>
                </div>
            </form>
        </div>

        <!--footer-->
        <footer>
        <%= erb :home_footer %>
        </footer>
 
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="assets/js/script.min.js"></script>
    </body>
</html>