<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>New Bookmark - ACME</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/home_footer.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="css/new_bookmark.css">
    </head>
    
    <body>
        <!--navigation bar-->
        <%if session[:logged_in] %>
            <nav class="sticky"><%= erb :user_header %></nav>
        <% else %>
            <nav class="sticky"><%= erb :home_header %></nav>
        <% end %>
        
        <!--BODY-->
        <form name="new_bookmark" action="/addBookmark" method="post">
            <label for="name_of_bookmark">Name of Bookmark:</label>
            <input type="text" name="name_of_bookmark" value="<%= @bookmark_name %>" maxlength="40" size="40" required> <br>
            
            <label for="link">Link:</label>
            <input type="link" name="Link" value="<%= @link %>" maxlength="60" size="40" required> <br><br>
            
            <label for="description">Description of Bookmark:</label> <br>
            <textarea name="description" rows="5" cols="50" value="<%= @description %>" placeholder="Type your description here.." required></textarea>
            
            <p>
              <button>Submit</button>
              <input type="reset">
            </p>
        </form>
        
        <!--footer-->
    <footer>
    <%= erb :home_footer %>
    </footer>
 
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    </body>
</html>